h1 {
	text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#board-table {
	width: 600px;
	height: 600px;
	border-collapse: collapse;
	margin-left:auto; 
	margin-right:auto;
}
td {
	border: 1px solid black;
	text-align: center;
	font-size: 2.7em;
	width: 200px;
	height: 200px;
}


#display-container {
	height: 75px;
	text-align: center;
	margin-bottom: 70px;
	font-size: 2em;
	color: #1437ed;
}

#play-again-btn {   
	border: 1px solid black;
	width: 10%;
	height: 31px;
	padding: 4px;
	margin: 40px 45%;
}

#player-table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

